@charset"utf-8";

/*===========================
            ALL
===========================*/
body {
    font-family: ro-nikkatsu-sei-kai-std, serif;
    margin: 0;
}

h2 {
    font-size: 43px;
    letter-spacing: 0.2em;
}

.cleaarfix {
    clear: both;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width:576px) {
    .wrapper {
    width: 400px;
    margin: 0 auto;
}
    p{
        font-size: 12px;
    }
}

@media screen and (min-width:576px) and ( max-width:768px) {
    .wrapper {
    width: 570px;
    margin: 0 auto;
}
   
}

@media screen and (min-width:768px) and ( max-width:991px){
    .wrapper {
    width: 700px;
    margin: 0 auto;
}
}
/*===========================
          header
===========================*/

a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.13em;
    font-size: 18px;
}

a.reserve::before {
    content: "▶";
    padding-right: 10px;
}
a.reserve {
    padding: 20px;
    color: #fff;
    background-color: rgba(140,98,57,0.6);
}

a.reserve:hover {
    background-color: rgba(168,131,96,0.6);
}

.abold {
    font-weight: bold;
}

li {
    list-style: none;
    padding: 0 30px;
    line-height: 40px;
}

header {
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 70px;
}

.mainimage {
   width: 100%;
}

.subtitle {
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
    position: absolute;
    top: 500px;
    right: 0;
    z-index: 1;
}

span {
    font-size: 20px;
}

h1 {
    letter-spacing: 0.2em;
    font-size:52px;
}

.nav_toggle {
    display: none;
}
/*===========================
     header メディアクエリ
===========================*/

@media screen and (max-width:576px) {
    /*=== ハンバーガー用 ===*/
    .nav_toggle {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    margin: 15px;
}
    .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform .5s, opacity .5s;
}
    .nav_toggle i:nth-child(1) {
    top: 0;
}
    .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}
    .nav_toggle i:nth-child(3) {
    bottom: 0;
}
    
    .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
    .nav_toggle.show i:nth-child(2) {
    opacity: 0;
}
    .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}
    nav {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}
    nav.show {
    opacity: 1;
    visibility: visible;
}
    /*=== ハンバーガー以外 ===*/
    header {
        background-color: rgba(255,255,255,0);
        height: 40px;
    }
    
    a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.13em;
    font-size: 13px;
}
    
    a.reserve {
    padding: 10px;
    color: #fff;
    background-color: rgba(140,98,57,0.6);
}
    .subtitle {
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    padding: 15px;
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 1;
}
    h1 {
    letter-spacing: 0.17em;
    font-size: 20px;
} 
    .span {
        font-size: 10px;
    }
    
    li {
    list-style: none;
        line-height: 35px;
}
}
@media screen and (min-width:576px) and ( max-width:768px) {
   /*=== ハンバーガー用 ===*/
    .nav_toggle {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    margin: 15px;
}
    .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform .5s, opacity .5s;
}
    .nav_toggle i:nth-child(1) {
    top: 0;
}
    .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}
    .nav_toggle i:nth-child(3) {
    bottom: 0;
}
    
    .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
    .nav_toggle.show i:nth-child(2) {
    opacity: 0;
}
    .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}
    nav {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}
    nav.show {
    opacity: 1;
    visibility: visible;
}
    /*=== ハンバーガー以外 ===*/
   header {
        background-color: rgba(255,255,255,0);
        height: 50px;
    }
    
    a.reserve {
    padding: 10px 15px;
    color: #fff;
    background-color: rgba(140,98,57,0.6);
}
    .subtitle {
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    padding: 25px;
    position: absolute;
    top: 194px;
    right: 0;
    z-index: 1;
}
    h1 {
    letter-spacing: 0.17em;
    font-size: 33px;
} 
    .span {
        font-size: 16px;
    }
    li {
    list-style: none;
    line-height: 50px;
}
}

@media screen and (min-width:768px) and ( max-width:1000px) {
    /*=== ハンバーガー用 ===*/
    .nav_toggle {
    display: block;
    position: relative;
    width: 2.4rem;
    height: 1.6rem;
    margin: 15px;
}
    .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform .5s, opacity .5s;
}
    .nav_toggle i:nth-child(1) {
    top: 0;
}
    .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}
    .nav_toggle i:nth-child(3) {
    bottom: 0;
}
    
    .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
    .nav_toggle.show i:nth-child(2) {
    opacity: 0;
}
    .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}
    nav {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}
    nav.show {
    opacity: 1;
    visibility: visible;
}
    /*=== ハンバーガー以外 ===*/
    header {
        background-color: rgba(255,255,255,0);
        height: 60px;
    }
    
    a.reserve {
    padding: 10px 15px;
    color: #fff;
    background-color: rgba(140,98,57,0.6);
}
    .subtitle {
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    padding: 25px;
    position: absolute;
    top: 250px;
    right: 0;
    z-index: 1;
}
    h1 {
    letter-spacing: 0.17em;
    font-size: 42px;
}
    li {
    list-style: none;
    line-height: 60px;
}
}

@media screen and ( min-width:1000px) {
   .nav_menu_ul {
    display: flex;
} 
}

/*===========================
           concept
===========================*/

div#concept.concept {
    margin-top: 150px;
}

.h2concept {
   border-left: 3px solid #999999;
    padding-left: 30px;
    margin-bottom: 80px;
}

.moreconcept {
    background-color: #4D4D4D;
    padding: 13px 15px;
    color: #fff;
}

.moreconcept:hover {
    background-color: #777776;
}

.p1,.p2,.p3 {
    margin-bottom: 30px;
}
.p4 {
    margin-bottom: 50px;
    font-size:18px;
}

.c-picture {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.c-picture1  {
    width: 75%;
}

.c-picture2 {
    width: 70%;
    position: relative;
    top: 12%;
    left: 37%;
}

.conceptp {
    line-height: 200%;
    letter-spacing: 0.15em;
}

/*===========================
　　　 concept　メディアクエリ
===========================*/
@media screen and (max-width:576px) {
     .c-picture2,.c-picture1{
        display: none;
    }
     .concept {
        padding-top: 0px;
    }
    .p1, .p2, .p3 {
        font-size: 12px;
        margin-bottom: 15px;
}
    .p4 {
        font-size: 13px;
        margin-bottom: 25px;
    }
    .conceptp {
        position: relative;
        z-index: 2;
        padding-left: 30px;
        line-height: 140%;
    }
    .h2concept {
        position: relative;
        z-index: 2;
        border: none;
        margin-bottom: 0;
        padding-bottom: 10px;
        font-size: 35px;
}
    .c-picture3 {
    position: relative;
    left: 0;
    bottom: 363px;
    height: 390px;
}
    .moreconcept {
    background-color: #4D4D4D;
    padding: 6px;
    color: #fff;
    font-size: 13px;
}
}

@media screen and (min-width:576px) and ( max-width:768px) {
 .concept {
    padding-top: 170px;
    margin: 0 auto;
    max-width: 550px;
}
    .c-picture2,.c-picture1{
        display: none;
    }
    
    .concept {
        padding-top: 0px;
    }
    .p1, .p2, .p3 {
    font-size: 12px;
        margin-bottom: 15px;
}
    .p4 {
        font-size: 13px;
        margin-bottom: 25px;
    }
    .c-picture3 {
    position: relative;
    left: 0;
    bottom: 363px;
    height: 400px;
}
    .conceptp {
        position: relative;
        z-index: 2;
        padding-left: 30px;
        line-height: 140%;
    }
    .h2concept {
        position: relative;
        z-index: 2;
        border: none;
        margin-bottom: 0;
        padding-bottom: 10px;
        font-size: 35px;
}
    .moreconcept {
    background-color: #4D4D4D;
    padding: 6px;
    color: #fff;
    font-size: 13px;
}
    
}

@media screen and (min-width:768px) and ( max-width:991px){
    .c-picture2 {
    width: 58%;
    position: relative;
    top: 18%;
    left: 33%;
}
    .c-picture1 {
    width: 60%;
}
    .conceptp {
    line-height: 200%;
    letter-spacing: 0.15em;
    font-size: 13px;
}
    .p4 {
    font-size: 14px;
}
    .c-picture3 {
        display: none;
    }
    .conceptdiv {
    display: flex;
    justify-content:space-around;
}
}


@media screen and (min-width:1000px) {
    .c-picture3 {
    display: none;
}
    .concept {
    padding-top: 170px ;
    margin: 0 auto;
    max-width: 1000px;
}
    .c-picture3 {
        display: none;
    }
    .conceptdiv {
    display: flex;
    justify-content:space-around;
}

}

/*===========================
          About
===========================*/

.about {
    padding-top: 230px;
} 

.h2about {
    border-left: 3px solid #999999;
    padding-left: 30px;
    margin-bottom: 20px;
}

.aboutp {
    padding-left: 25px;
}

.worries1 {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.worries2 {
    display: flex;
    justify-content: space-between;
     padding: 30px 50px;
}

.worries3 {
    display: flex;
    justify-content: space-between;
     padding: 30px 50px;
}

.aboutspan {
    font-size:65px;
}

.a-p1,.a-p2,.a-p3 {
    border: solid 2px #CCCCCC;
    padding: 20px 30px;
    display: inline;
    letter-spacing: 0.15em;
    width: 380px;
    height: 130px;
    font-size: 20px;
    line-height: 170%;
    display:table-cell;
    vertical-align:middle;
}

.a-p1,.a-p3 {
   position: relative;
    top: 115px;
    right: 2%;
}

.worriesp {
     display:table;
}

.a-p2 {
    position: relative;
    top: 109px;
    left: -1%;
}
.aboutspan {
    position: relative;
    top: 64px;
    left: 5%;
    z-index: 5;
}

.w-p {
    width: 45%;
}

.worries3 {
    margin-bottom: 50px;
}

.more {
    background-color: #4D4D4D;
    padding: 5px 20px;
    color: #fff;
   float: right;
}

.more:hover {
    background-color: #777776;
}

/*===========================
　　　 About　メディアクエリ
===========================*/
@media screen and (max-width:576px) {
   .about {
        padding-top: 0;
        margin-top: -230px;
    }
    .worries1,.worries2,.worries3 {
        display: none;
    }
    .worries1sp,.worries2sp,.worries3sp {
        display: flex;
        margin-bottom: 30px;
    }
    .w-p1{
        width: 45%;
    }
    .a-p1 {
    position: relative;
    top: 12px;
    right: 6%;
}
    .a-p3 {
    position: relative;
    top: 12px;
    right: 6%;
}
    .a-p2 {
    position: relative;
    top: 12px;
    left: -7%;
}
    .aboutspan {
    position: relative;
    top: -10px;
    left: 4%;
    z-index: 5;
    color: #5d5b59;
    opacity: 0.9;
    font-size: 53px;
}
    .h2about {
        font-size: 35px;
    }
            
    _:-ms-lang(x),.a-p1 {
    position: relative;
    top: 12px;
    right: 6%;
    width: 170px;
}
    _:-ms-lang(x),.a-p3 {
    position: relative;
    top: 12px;
    right: 6%;
    width: 170px;
}
    _:-ms-lang(x),.a-p2 {
    position: relative;
    top: 12px;
    left: -7%;
    width: 170px;
}
    _::-webkit-full-page-media, _:future, :root .a-p1 {
    position: relative;
    top: 12px;
    right: 6%;
    width: 160px;
}
    _::-webkit-full-page-media, _:future, :root .a-p3 {
    position: relative;
    top: 12px;
    right: 6%;
    width: 160px;
}
    _::-webkit-full-page-media, _:future, :root .a-p2 {
    position: relative;
    top: 12px;
    left: -7%;
    width: 160px;
}
    _:-ms-lang(x), .w-p {
    width: 30%;
}
}

@media screen and (min-width:576px) and ( max-width:768px) {
    .about {
        padding-top: 0;
        margin-top: -150px;
    }
    .worries1,.worries2,.worries3 {
        display: none;
    }
    .worries1sp,.worries2sp,.worries3sp {
        display: flex;
        margin-bottom: 30px;
    }
    .w-p1{
       width: 45%; 
    }
    .a-p1 {
    position: relative;
    top: 39px;
    right: 6%;
}
    .a-p3 {
    position: relative;
    top: 53px;
    right: 6%;
}
    .a-p2 {
    position: relative;
    top: 36px;
    left: -7%;
}
    .a-p1, .a-p2, .a-p3 {
    border: solid 2px #CCCCCC;
    padding: 16px;
    display: inline;
    letter-spacing: 0.15em;
    width: 380px;
    height: 110px;
    font-size: 20px;
    line-height: 170%;
    display: table-cell;
    vertical-align: middle;
        font-size: 13px;
}
    .aboutspan {
    position: relative;
    top: 3px;
    left: 4%;
    z-index: 5;
    color: #5d5b59;
    opacity: 0.9;
    font-size: 53px;
}
}

@media screen and (min-width:768px) and ( max-width:991px){
    .a-p1,.a-p2,.a-p3 {
        font-size: 14px;
    }
    .a-p1, .a-p3 {
    position: relative;
    top: 34px;
    right: 2%;
}
    .a-p2 {
    position: relative;
    top: 26px;
    left: -1%;
}
    .aboutspan {
    position: relative;
    top: -18px;
    left: 5%;
    z-index: 5;
}
    .worries1sp,.worries2sp,.worries3sp {
        display: none;
    }
}

@media screen and (min-width:1000px) { 
    .worries1sp,.worries2sp,.worries3sp {
        display: none;
    }
}
/*===========================
          Gallery
===========================*/

div.gallery {
    text-align: center;
    margin-top: 200px;
}

.h2gallery {
    border-bottom: 3px solid #999999;
    margin-bottom: 10px;
    display: inline-block;
}

.galleryp {
    margin-bottom: 80px
}

.picturegellery1 {
    margin-bottom: 50px;
}

.insta {
    border: 1px solid #000000;
    padding: 10px 20px;
}

.fab {
    padding-right: 10px;
}

.insta:hover {
    border: none;
    background-color: #4D4D4D;
    color: #fff;
}

.fab:hover {
    color: #fff;
}

/*===========================
     Gallery メディアクエリ
===========================*/

@media screen and (max-width:576px) {
   .picturegellery,.picturegellery1{
        display: none;
    }
    
    .picturegellery2sp {
        margin-bottom: 30px;
    }
    
    .h2gallery {
        font-size: 35px;
    }
}

@media screen and (min-width:576px) and ( max-width:768px) {
    .picturegellery,.picturegellery1{
        display: none;
    }
    .picturegellery2sp {
        margin-bottom: 30px;
    }
}

@media screen and (min-width:768px) and ( max-width:991px){
    .picturegellerysp,.picturegellery1sp,.picturegellery2sp{
        display: none;
    }
}

@media screen and (min-width:1000px) {
    .picturegellerysp,.picturegellery1sp,.picturegellery2sp{
        display: none;
    }
}
/*===========================
            Menu
===========================*/
.manu {
    padding-top: 230px ;
}

.h2manu {
    border-left: 3px solid #999999;
    padding-left: 30px;
    margin-bottom: 10px;
}

.manup {
    margin-bottom: 25px;
}

.manunaiyou1 {
    display:table-cell;
    vertical-align:middle;
}

.menupic {
    width: 50%;
    position: relative;
    top: -70px;
}

/*===========================
     Menu　メディアクエリ
===========================*/
@media screen and (max-width:576px) {
   .manunaiyou {
    background-color: rgba(232,226,221,0.7);
    letter-spacing: 0.2em;
    line-height: 200%;
    padding: 50px 25px;
    font-size: 13px;
    position: relative;
    z-index: 2;
    position: relative;
    top: 39px;
}
    .m-pic {
    width: 200%;
    position: relative;
    bottom: 129px;
}
    .h2manu {
    font-size: 35px;
}
    .w-p {
    width: 170px;
    height: 125px;
}
    .w-p1 {
    width: 170px;
    height: 125px;
}
   .a-p1,.a-p2,.a-p3 {
    position: relative;
    top: 12px;
    right: 6%;
    font-size: 12px;
    padding: 10px;
    height: 90px;
}
    .aboutspan {
    font-size: 40px;
}
    .h2about {
    margin-bottom: 10px;
    }
    .aboutp {
    font-size: 12px;
    margin-bottom: 30px;
}
    .manup {
    font-size: 14px;
}
}

@media screen and (min-width:576px) and ( max-width:768px) {
   .manunaiyou {
    background-color: rgba(232,226,221,0.7);
    letter-spacing: 0.2em;
    line-height: 200%;
    padding: 50px;
    position: relative;
    z-index: 2;
    top: 32px;
}
    .m-pic {
    width: 200%;
    position: relative;
    bottom: 147px;
    height: 270px;
}
}

@media screen and (min-width:768px) and ( max-width:991px){
   .menupic {
    position: relative;
    top: -70px;
}
    .m-pic {
        width: 100%;
    }
    .manup {
    margin-bottom: 16px;
    font-size: 14px;
}
    .menu1 {
    display: flex;
}
    .manunaiyou {
    background-color: rgba(232,226,221,0.7);
    height: 240px;
    letter-spacing: 0.2em;
    line-height: 200%;
    width: 50%;
    position: relative;
    top: 100px;
    left: 2%;
    z-index: 2;
    display:table;
    padding: 25px;
}
}

@media screen and (min-width:1000px) {
    .menu1 {
    display: flex;
}
    .manunaiyou {
    background-color: rgba(232,226,221,0.7);
    height: 240px;
    letter-spacing: 0.2em;
    line-height: 200%;
    width: 50%;
    position: relative;
    top: 100px;
    left: 2%;
    z-index: 2;
    display:table;
    padding: 25px;
}
}
/*===========================
            Blog
===========================*/
.h2blog {
    border-bottom: 3px solid #999999;
    margin-bottom: 80px;
    display: inline-block;
   
}
.blog {
    margin:  200px 0;
    text-align: center;
}
.blogall {
    display: flex;
    margin: 0 100px;
}

.blog1,.blog2,.blog3 {
    border: 1px solid #2D2D2D;
    margin: 0px 15px;
    padding: 15px;
}
dl {
    text-align: left;
    margin-bottom: 50px;
}

dt {
    font-weight: bold;
    letter-spacing: 0.12em;
    padding-bottom: 8px;
}

dd {
    font-size: 14px;
}

.readmore {
    font-size: 14px;
    float: right;
}
.readmore::before {
    content: "▶";
    font-size: 14px;
    padding-right: 3px;
}

.readmore:hover {
    color: #999999;
}


/*===========================
      Blog　メディアクエリ
===========================*/

@media screen and (max-width:576px) {
    .blog {
        margin: 0;
    }
    .blogall {
     margin: 0;
    }
    .blog1, .blog2, .blog3 {
    border: 1px solid #2D2D2D;
    margin: 0;
    padding: 10px;
    width: 33%;
}
    .blogpic{
    width: 100%
    }
    .blog-m {
     margin-left: 10px;   
    }
    dd {
    font-size: 9px;
}
    .readmore {
    font-size: 10px;
    float: right;
}
    dt {
    font-weight: bold;
    letter-spacing: 0.12em;
    padding-bottom: 8px;
    font-size: 11px;
}
    .h2blog {
    margin-bottom: 30px;
    font-size: 35px;
}
}

@media screen and (min-width:576px) and ( max-width:768px) {
    .blog {
     margin: 0;
    }
    .blogall {
     margin: 0;
    }
    .blog1, .blog2, .blog3 {
    border: 1px solid #2D2D2D;
    margin: 0;
    padding: 10px;
    width: 33%;
}
    .blogpic{
    width: 100%
    }
    .blog-m {
     margin-left: 10px;   
    }
}

@media screen and (min-width:768px) and ( max-width:991px){
    .blogall {
    display: flex;
        margin: 0;
}
    
    .blog1,.blog2,.blog3 {
    border: 1px solid #2D2D2D;
    margin: 0px 15px;
    padding: 15px;
}
}


/*===========================
           Access
===========================*/
.access {
    padding-top: 130px ;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 200px;
}

.h2access{
    border-left: 3px solid #999999;
    padding-left: 30px;
    margin-bottom: 70px;
}

.accessp1,.accessp3,.accessp5 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.accessp2,.accessp4 {
    margin-bottom: 30px;
}

    
/*===========================
    Access　メディアクエリ
===========================*/
@media screen and (max-width:576px) {
   .h2access {
    margin-bottom: 30px;
    font-size: 35px;
}
    .accessp {
    background-color: rgba(242,242,242,0.7);
    padding: 30px;
    letter-spacing: 0.15em;
}
    .accessp2, .accessp4,.accessp6 {
    margin-bottom: 15px;
    font-size: 12px;
}
    .map {
        margin-top: 30px;
        width: 50%;
    }
    .map1 {
        display: none;
    }
    .accessp1, .accessp3, .accessp5 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
}
    .access {
        margin-bottom: 100px;
    }
}

@media screen and (min-width:576px) and ( max-width:768px) {
    .h2access {
    margin-bottom: 30px;
}
    .accessp {
    background-color: rgba(242,242,242,0.7);
    padding: 30px;
    letter-spacing: 0.15em;
}
    .accessp2, .accessp4 {
    margin-bottom: 15px;
}
    .map {
        margin-top: 30px;
    }
    .mapsp {
        display: none;
    }
}

@media screen and (min-width:768px) and ( max-width:1000px){
    .map {
        padding-top: 20px;
        text-align: center;
        margin: 0 auto;
    }
    .accessp {
    width: 93%;
}
    .accessp {
    background-color: rgba(242,242,242,0.7);
    padding: 30px 80px 30px 65px;
    letter-spacing: 0.15em;
    position: relative;
    top: 0px;
    left: 4%;
}
    .mapsp {
        display: none;
    }
}

@media screen and (min-width:1000px) {
    .accessflex {
    display: flex;
    justify-content: space-between;
}
    .map {
    position: relative;
    top: -125px;
    right: 10px;
    z-index: 2;
}
    .accessp {
    background-color: rgba(242,242,242,0.7);
    padding: 30px 50px;
    letter-spacing: 0.15em;
}
    .accessp {
    background-color: rgba(242,242,242,0.7);
    padding: 30px 80px 30px 65px;
    letter-spacing: 0.15em;
    position: relative;
    top: 0px;
    left: 4%;
}
    .mapsp {
        display: none;
    }
}

/*===========================
           footer
===========================*/

footer{
    background-color: #E6E6E6;
    padding: 20px 0;
}

/*===========================
     footer　メディアクエリ
===========================*/
@media screen and (max-width:576px) {
    .footerul {
        display: none;
    }
    .footerdiv {
        display: flex;
    }
    .footersp {
        width: 40%;
    }
    .footerul1 {
        width: 60%;
    }
   .footerli {
    margin: 0 auto;
}
    .footerimg {
        margin: 25px;
    }
   
}

@media screen and (min-width:576px) and ( max-width:768px) {
    .footerul {
        display: none;
    }
     .footerdiv {
        display: flex;
    }
    .footersp {
        width: 40%;
    }
    .footerul1 {
        width: 60%;
    }
    .footerli {
        width: 25%;
        text-align: center;
        margin: 0 30px;
    }
    .footerimg {
        margin: 50px;
    }
}

@media screen and (min-width:768px) and ( max-width:1000px){
   .footerul {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}
    li.footerli {
        padding: 0 20px;
    }
     .footerdiv {
        display: none;
    }
}

@media screen and (min-width:1000px) {
    .footerul {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}
    .footerdiv {
        display: none;
    }
}
